.area-restrita-enfermeiro {
    width: 100%;
    height: auto;
    float: right;
    position: inherit;
    margin-bottom: 3%;
}

.section-enfermeiro {
    width: 100%;
    height: auto;
    position: inherit;
}

.section-anamnese .anamnese {
    width: 100%;
    height: auto;
    position: inherit;
}

.area-restrita-enfermeiro .paciente table {
    width: 90%;
    margin-left: 10%;
    margin: 0 auto;
}

.area-restrita-funcionario .anamnese table thead {
    color: #0a489b;
}

.area-restrita-funcionario .anamnese {
    width: 100%;
    height: 100%;
}

.area-restrita-funcionario .formulario-paciente {
    width: 80%;
    height: auto;
    margin: 0 auto;
}

.area-restrita-funcionario .paciente button {
    margin-top: 5%;
}

.area-restrita-funcionario .prontuarios {
    width: 100%;
    height: 100%;
}

.area-restrita-funcionario .search-btn-form {
    float: left;
    border: none;
    margin-left: 33%;
    margin-top: -3%;
    color: #0a489b;
    font-size: 20px;
    background-color: white;
}

.area-restrita-funcionario {
    width: 100%;
    height: auto;
    float: right;
    position: inherit;
}

.area-restrita-funcionario .historico .search-btn-form {
    float: left;
    border: none;
    margin-left: 35%;
    margin-top: -3%;
    color: #0a489b;
    font-size: 20px;
    margin-bottom: 5%;
    background-color: white;
}

.area-restrita-funcionario .paciente .search-btn-form {
    float: left;
    border: none;
    margin-left: 35%;
    margin-top: -3%;
    color: #0a489b;
    font-size: 20px;
    background-color: white;
}

.area-restrita-funcionario .paciente-cadastrados-adm {
    margin-bottom: 5%;
}

.area-restrita-funcionario .paciente-cadastrados-adm table {
    margin-top: 2%;
    width: 80%;
    margin-left: 10%;
    text-align: center;
}

.area-restrita-funcionario .paciente-cadastrados-adm table thead {
    color: #0956b9;
}

.area-restrita-funcionario {
    width: 100%;
    height: auto;
    float: right;
    position: inherit;
}

.section-paciente .paciente .formulario-paciente {
    width: 100%;
    height: auto;
    position: inherit;
}

.section-paciente .paciente .formulario-paciente .container-table {
    width: 90%;
    margin: 0 auto;
    height: auto;
    min-height: 100%;
    position: inherit;
}

.section-paciente .paciente .formulario-paciente .container-form {
    width: 100%;
    height: auto;
    min-height: 100%;
    position: relative;
}

.section-paciente .paciente .formulario-paciente .container-alter {
    width: 100%;
    height: auto;
    min-height: 100%;
    position: relative;
}

.section-paciente .paciente .tela-cadastro-paciente .form-formularios {
    width: 98%;
    margin-left: 2%;
}

.paciente .form-formularios-verificacao {
    margin-left: 4%;
}

.paciente .form-formularios-verificacao h4 {
    color: #121D88;
}

.paciente .form-formularios-verificacao .adicionar-cadastro-paciente {
    width: 30%;
    font-size: 30px;
    color: #0956b9;
    margin-left: 1%;
    text-decoration: none;
    margin-top: 1%;
}

.paciente .form-formularios-verificacao a p {
    color: #121D88;
    font-size: 17px;
    margin-left: 12%;
    margin-top: -8%;
}

.tela-cadastro-paciente {
    width: 100%;
    height: auto;
    float: right;
    position: inherit;
}

.tela-ficha-triagem {
    width: 100%;
    height: auto;
    float: right;
    position: inherit;
}

.tela-cadastro-ficha-anamnese {
    width: 100%;
    height: auto;
    float: right;
    position: inherit;
}

.tela-cadastro-paciente .form-formularios h4 {
    color: #121D88;
}

.tela-cadastro-paciente .campo-form-direita .geral-btn-form {
    margin-top: 30%;
}

.textarea-observacoes {
    margin-top: 2%;
    margin-left: 1%;
    width: 100%;
}

.search-btn-form-prontuario-sus {
    margin-top: 4%;
    float: left;
    border: none;
    color: #0a489b;
    font-size: 20px;
    background-color: white;
}

.textarea-triagem {
    border: 2px solid #0a489b;
    width: 98%;
    height: 20%;
}

.label-textarea-triagem {
    color: #616161;
    font-size: 17px;
}

.container-tabela-anamnese {
    width: 90%;
    margin: 0 auto;
}

.container-tabela-anamnese HR {
    width: 111.5%;
    margin-left: -6%;
}

.adicionar-cadastro-anamnese {
    font-size: 22px;
    margin-top: 2%;
    width: 80%;
    float: left;
    margin-bottom: 2%;
    margin-left: 3%;
    color: #0956b9;
    text-decoration: none;
}

.area-restrita-enfermeiro .container-prontuario {
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
    height: 80%;
}

.area-restrita-enfermeiro .container-prontuario .menu-prontuario .nav-item {
    color: #042c61;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.area-restrita-enfermeiro .container-prontuario .menu-prontuario .nav-item .nav-link {
    color: #0956b9;
    text-decoration: none;
}

#mytab {
    margin-bottom: 2%;
}

.area-restrita-enfermeiro .container-prontuario .prontuarios-medicos table {
    text-align: center;
}

.area-restrita-enfermeiro .container-prontuario .prontuarios-medicos table thead {
    color: #0956b9;
}

.area-restrita-enfermeiro .container-prontuario form {
    margin-bottom: 5%;
}

.area-restrita-enfermeiro .container-prontuario .prontuarios-em-andamento table {
    text-align: center;
}

.area-restrita-enfermeiro .container-prontuario .prontuarios-em-andamento table thead {
    color: #0956b9;
}

.area-restrita-enfermeiro .container-prontuario .prontuarios-em-andamento .fas {
    color: #277ceb;
}

.area-restrita-enfermeiro .container-prontuario .prontuarios-em-andamento .fa-times {
    color: rgb(197, 18, 18);
}

.area-restrita-enfermeiro .container-prontuario .prontuarios-em-andamento .legenda-prontuarios {
    position: relative;
    margin-top: 5%;
}

.area-restrita-enfermeiro .container-prontuario .prontuarios-em-andamento .legenda-prontuarios .recepcao .legenda-nome {
    float: left;
    margin-left: 30%;
    color: black;
    margin-top: -20%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.area-restrita-enfermeiro .container-prontuario .prontuarios-em-andamento .legenda-prontuarios .recepcao .fas {
    color: rgba(36, 155, 12, 0.596);
    float: left;
    margin-left: 15%;
}

.area-restrita-enfermeiro .container-prontuario .prontuarios-em-andamento .legenda-prontuarios .triagem .legenda-nome {
    margin-left: 25%;
    float: left;
    color: black;
    margin-top: -20%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.area-restrita-enfermeiro .container-prontuario .prontuarios-em-andamento .legenda-prontuarios .triagem .fas {
    color: rgb(234, 238, 12);
    float: left;
    margin-left: 15%;
}

.area-restrita-enfermeiro .container-prontuario .prontuarios-em-andamento .legenda-prontuarios .consulta .legenda-nome {
    margin-left: 25%;
    float: left;
    color: black;
    margin-top: -20%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.area-restrita-enfermeiro .container-prontuario .prontuarios-em-andamento .legenda-prontuarios .consulta .fas {
    color: #277ceb;
    float: left;
    margin-left: 10%;
}

.area-restrita-enfermeiro .container-prontuario .prontuarios-encerrados table {
    text-align: center;
}

.area-restrita-enfermeiro .container-prontuario .prontuarios-encerrados table thead {
    color: #0956b9;
}

.area-restrita-enfermeiro .container-prontuario .prontuarios-em-andamento .legenda-prontuarios .finalizado .legenda-nome {
    margin-left: 25%;
    float: left;
    color: black;
    margin-top: -18%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.area-restrita-enfermeiro .container-prontuario .prontuarios-em-andamento .legenda-prontuarios .finalizado .fas {
    color: #12c24d;
    float: left;
    margin-left: 10%;
}

.area-restrita-enfermeiro .container-prontuario .prontuarios-em-andamento .legenda-prontuarios .cancelado .legenda-nome {
    margin-left: 25%;
    float: left;
    color: black;
    margin-top: -18%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.area-restrita-enfermeiro .container-prontuario .prontuarios-em-andamento .legenda-prontuarios .cancelado .fas {
    color: #d41a1a;
    float: left;
    margin-left: 10%;
}

.fila-paciente {
    width: 100%;
    height: auto;
}

.fila-paciente {
    height: 100%;
    width: auto;
    margin-bottom: 5%;
}

.area-restrita-enfermeiro .fila-paciente table {
    width: 80%;
    margin-top: 2%;
    text-align: center;
}

.area-restrita-enfermeiro .fila-paciente table thead {
    color: #0a489b;
}

.area-restrita-enfermeiro .fila-paciente .tabela-fila-paciente {
    width: 80%;
    max-height: 70%;
    overflow: auto;
    margin: 0 auto;
}

.area-restrita-enfermeiro .fila-paciente .tabela-fila-paciente table {
    width: 100%;
}

.tabela-rolavel-enfermeiro{
    width: 100%;
    max-height: 50%;
    overflow: auto;

}